<ion-header>
  <ion-navbar>
    <i class="fa fa-angle-left fa-lg" (click)="goBack()"></i>
    <span class="page-title">Loyalty Cards</span>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="business-cards-holder" *ngIf="hasData">
    <div *ngIf="loyalties.length !== 0; then hasLoyalties else noLoyalties"></div>
    <ng-template #hasLoyalties>
      <div class="business-cards" *ngFor="let loyalty of loyalties; let i = index;" tappable (click)="showCardDeals(loyalty.business_id[0]._id,loyalty.business_id[0].company_name)">
        <div class="img-holder">
          <img src="{{loyalty.business_id[0].files[0].url !== null ? loyalty.business_id[0].files[0].url : assets/images/placeholder.jpg}}" alt="">
        </div>
        <div class="text-holder">
          <h3 class="card-title-text">{{loyalty.business_id[0].company_name}}</h3>
          <span class="card-location-text">{{loyalty.business_id[0].country}}</span>
          <span class="card-count-text">{{loyalty.loyalties_row}} loyalty cards</span>
          <i class="fa fa-chevron-right fa-2x"></i>
        </div>
      </div>
    </ng-template>

    <ng-template #noLoyalties>
      <div class="no-loyalty-holder">
        <h4>Currently you have no loyalty cards, go explore what different loyalty offers GoPage businesses have to offer!</h4>
      </div>
    </ng-template>

  </div>

</ion-content>
