<ion-header>
  <ion-navbar>
    <img class="header-logo" src="assets/images/logo-min.png" alt="GoPage Logo">
    <span class="name">
      <span *ngIf="hasData" [ngClass]="[ notifCountTotal != 0 ? 'has-notif' : 'no-notif']" class="fa-stack" (click)="ToInbox()">
        <i class="fa fa-square fa-stack-2x"></i>
        <!-- <span class="fa fa-stack-1x" *ngIf="!hasNotify">0</span> -->
        <span class="fa fa-stack-1x">{{ notifCountTotal }}</span>
      </span>
      Hi, {{firstname}}
    </span>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container dashboard-menu">
    <div class="row">
      <div class="col">
        <ion-card (click)="ToMembership()">
          <img src="assets/icon/membership-card.png"/>
          <ion-card-content>
            <ion-card-title>
              Membership Card
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>


      <div class="col">
        <ion-card (click)="ToLoyalty()">
          <img src="assets/icon/loyalty-card.png"/>
          <ion-card-content>
            <ion-card-title>
              Loyalty Card
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-card (click)="ToFindDeals()">
          <img src="assets/icon/find-deals.png"/>
          <ion-card-content>
            <ion-card-title>
              Find Deals
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col">
        <ion-card (click)="ToFavorites()">
          <img src="assets/icon/favorites.png"/>
          <ion-card-content>
            <ion-card-title>
              Favorites
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <ion-card (click)="ToInbox()">
          <img src="assets/icon/inbox.png"/>
          <ion-card-content>
            <ion-card-title>
              Inbox
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="col">
        <ion-card (click)="ToSettings()">
          <img src="assets/icon/settings.png"/>
          <ion-card-content>
            <ion-card-title>
              Settings
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>
