page-settings {
  ion-header {
    ion-navbar {
      .toolbar {
        &.statusbar-padding {
          &:first-child {
            padding-top: 35px !important;
          }
        }
      }

      .back-button {
        display: none !important;
      }

      i.fa {
        position: absolute;
        top: 20px;
        font-size: 30px;
        color: #b1b1b1 !important;

        cursor: pointer;
      }

      .page-title {
        display: flex;
        justify-content: center;
        margin-top: -5px;

        font-family: "Raleway SemiBold";
        font-size: 18px;
        color: #757575;
      }

      &.toolbar-ios {
        .toolbar-content-ios {
          i {
            top: 24px;
          }
        }
      }
    }
  }

  ion-header + ion-content > div.scroll-content {
    padding-top: 30px !important;
    overflow: hidden;
  }

  .settings-menu {
    a {
      font-family: "Raleway SemiBold";
      font-size: 20px;
      color: #757575;
      text-decoration: none;
    }
  }
}
