<ion-header>
  <ion-navbar>
    <i class="fa fa-angle-left fa-lg" (click)="goBack()"></i>
    <span class="page-title">Favorites</span>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="favorites-holder">
    <div *ngIf="favorites?.length !== 0; then hasFavorites else noFavorites"></div>
    <ng-template #hasFavorites>
      <div class="favorites media" *ngFor="let favorite of favorites; let i = index">
        <div class="col-xs-8">
          <div class="img-holder" tappable (click)="getBusiness(favorite)">
            <div *ngIf="favorite.business_id[0].files?.length !== 0; then hasPhoto else noPhoto"></div>
            <ng-template #hasPhoto>
              <img class="d-flex mr-3" [src]="favorite.business_id[0].files[0]?.url" alt="">
            </ng-template>
            <ng-template #noPhoto>
              <img class="d-flex mr-3" src="https://cdn.filestackcontent.com/YLUX5rX8RAWVTNsDRPww" alt="">
            </ng-template>
            <!-- <img class="d-flex mr-3" [src]="[favorite.business_id[0].files.length !== 0 ? "{{favorite.business_id[0].files[0].url}}" : 'https://cdn.filestackcontent.com/YLUX5rX8RAWVTNsDRPww']" alt=""> -->
          </div>
          <div class="text-holder media-body" tappable (click)="getBusiness(favorite)">
            <h3 class="title-text">{{favorite.business_id[0].company_name}}</h3>
            <div class="company-text">{{favorite.business_id[0].title}}</div>
            <div class="location-text">{{favorite.business_id[0].city}}, {{favorite.business_id[0].state}}, {{favorite.business_id[0].country}}</div>
            <!-- <div class="expiration-text"><i class="fa fa-clock-o"></i> Expires {{favorite.end_date | date : 'MM/dd/yyyy'}}</div> -->
            <i class="fa fa-chevron-right fa-2x"></i>
          </div>
        </div>

        <div class="favorites-button">
          <a class="btn remove-btn" tappable (click)="removeFavorite(favorite._id, i)">Remove</a>
          <a class="btn btn-more" tappable (click)="getBusiness(favorite)">More Deals <i class="fa fa-chevron-right"></i></a>
        </div>

      </div>
    </ng-template>

    <ng-template #noFavorites>
      <div class="no-favorites-holder">
        <h4>Once you favorite a business, it will show up here!</h4>
      </div>
    </ng-template>

  </div>
</ion-content>
