<ion-header>
  <ion-navbar>
    <button ion-button class="back-btn" (click)="goBack()"><i class="fa fa-angle-left fa-lg"></i></button>
    <span class="page-title">Find Deals</span>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="jumbotron search-banner">
    <form class="form-inline form-search-deals text-center">
      <input type="text" class="form-control" id="deal-name" placeholder="Search GoPage Deals" name="input" [(ngModel)]="search.input">
      <!-- <input type="text" class="form-control" id="deal-name2" style="visibility: hidden; position: absolute;"> -->
      <label>
        <span class="fa fa-map-marker"></span>
        <input type="text" class="form-control" id="deal-location" placeholder="Los Angeles, CA" name="location" [(ngModel)]="search.location">
        <div class="locations-holder">
          <div class="location-holder" id="getLocation">
            <ul>
              <li class="location"><a><i class="fa fa-compass" aria-hidden="true"></i>Current Location</a></li>
            </ul>
          </div>
        </div>
      </label>
      <div class="alert-holder"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please specify your location.</div>
      <button class="btn-search-deals" type="submit" id="searchBtn" (click)="searchBusinessDeals()">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>

  <nav id="filter-sort-map" class="navbar navbar-light">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link filter-categories" (click)="showCategoryMenu()"><i class="fa fa-filter"></i> Categories</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link filter-sort" (click)="showSortMenu()"><i class="fa fa-sort"></i> Sort</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" (click)="goMapView()"><i class="fa fa-map-marker"></i> Map view</a>
      </li>
    </ul>
  </nav>

  <div class="categories-header">
    <div class="row">
      <div class="col">
        <p class="deals-category">
          <span id="selected-category"></span>
        </p>
        <ion-item>
          <ion-label> Show Image</ion-label>
          <ion-toggle [(ngModel)]="toggleImage"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="categories-main">
    <div class="map-view" id="mapView"></div>
    <div class="row">
      <div class="col holder-categories-result1">
        <div class="row">
          <div class="col categories-result" *ngIf="hasData">

            <div *ngIf="business_deals?.length === 0; then noData else hasData"></div>
            <ng-template #noData>
              <div class="no-data-holder">
                <img src="https://cdn.filestackcontent.com/DFT7nNCRSLlF5uUkZAKk">
              </div>
            </ng-template>
            <ng-template #hasData>
              <div class="deal media {{toggleImage ? 'toggled' : ''}}" *ngFor="let business of business_deals | slice:0:slice; let i = index">
                <span *ngIf="business.deal_id.length !== 0; then hasDeal else noDeal "></span>

                <!-- has deal -->
                <ng-template #hasDeal>
                  <div class="hasdeal-template">
                    <div *ngIf="business.featured_deal !== undefined; then hasFeatured else noFeatured"></div>

                    <ng-template #hasFeatured>
                      <div class="col-xs-8" tappable (click)="getBusiness(business)">
                        <a class="deal-thumbnail" *ngIf="toggleImage">
                          <img class="d-flex mr-3" src="{{business.featured_deal.photo.url !== unknown ? business.featured_deal.photo.url : 'https://cdn.filestackcontent.com/YLUX5rX8RAWVTNsDRPww'}}" alt="{{business.featured_deal.template}}">
                        </a>
                        <div class="media-body align-self-center">
                          <a class="business-link">{{business.company_name}}</a>
                          <p class="business-address">{{business.country}}, {{business.state}}</p>
                          <a class="deal-title">
                            <h6 class="mt-0"><i class="fa fa-tag"></i> {{business.featured_deal.template}}</h6>
                          </a>
                          <p class="expiration-date"><i class="fa fa-clock-o fa-lg"></i> Expires {{business.featured_deal.end_date | date: 'MM/dd/yyyy'}}</p>
                        </div>

                      </div>
                    </ng-template>

                    <ng-template #noFeatured>
                      <div class="col-xs-8" tappable (click)="getBusiness(business)">
                        <a class="deal-thumbnail" *ngIf="toggleImage">
                          <img class="d-flex mr-3" src="{{business.deal_id[0].photo.url !== unknown ? business.deal_id[0].photo.url : 'https://cdn.filestackcontent.com/YLUX5rX8RAWVTNsDRPww'}}" alt="{{business.deal_id[0].template}}">
                        </a>
                        <div class="media-body align-self-center">
                          <a class="business-link">{{business.company_name}}</a>
                          <p class="business-address">{{business.country}}, {{business.state}}</p>
                          <a class="deal-title">
                            <h6 class="mt-0"><i class="fa fa-tag"></i> {{business.deal_id[0].template}}</h6>
                          </a>
                          <p class="expiration-date"><i class="fa fa-clock-o fa-lg"></i> Expires {{business.deal_id[0].end_date | date: 'MM/dd/yyyy'}}</p>
                        </div>

                      </div>
                    </ng-template>

                    <!-- <div class="col-xs-8" tappable (click)="getBusiness(business)">
                      <a class="deal-thumbnail" *ngIf="toggleImage">
                        <img class="d-flex mr-3" src="{{business.deal_id[0].photo.url !== unknown ? business.deal_id[0].photo.url : 'https://cdn.filestackcontent.com/YLUX5rX8RAWVTNsDRPww'}}" alt="{{business.deal_id[0].template}}">
                      </a>
                      <div class="media-body align-self-center">
                        <a class="business-link">{{business.company_name}}</a>
                        <p class="business-address">{{business.country}}, {{business.state}}</p>
                        <a class="deal-title">
                          <h6 class="mt-0"><i class="fa fa-tag"></i> {{business.deal_id[0].template}}</h6>
                        </a>
                        <p class="expiration-date"><i class="fa fa-clock-o fa-lg"></i> Expires {{business.deal_id[0].end_date | date: 'MM/dd/yyyy'}}</p>
                      </div>

                    </div> -->

                    <div class="col-xs-4">
                      <div class="deals-button">
                        <div *ngIf="business.is_favorite; then Favorite  else  notFavorite"></div>
                        <ng-template #notFavorite>
                          <div class="claim-btn-holder">
                            <a class="btn btn-claim" [attr.id]="'addToFavorite'+business.u_id" id="addToFavorite" tappable (click)="addToFavorites(business)">Add to Favorites <i class="fa fa-chevron-right"></i></a>
                            <a class="btn btn-claimed" id="addedToFavorite" tappable (click)="goToFavorites()">Added to Favorites</a>
                          </div>
                        </ng-template>
                        <ng-template #Favorite><a class="btn btn-claim disabled" id="addToFavorite" tappable (click)="goToFavorites()">Added to Favorites</a></ng-template>
                        <a class="btn btn-more" tappable (click)="getBusiness(business)" >More Details <i class="fa fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!-- no deal -->
                <ng-template #noDeal>
                  <div class="col-xs-8">
                    <a class="deal-thumbnail" *ngIf="toggleImage">
                      <img class="d-flex mr-3" src="{{business.files.length !== 0 ? business.files[0].url : 'https://cdn.filestackcontent.com/YLUX5rX8RAWVTNsDRPww'}}" alt="{{business.company_name}}">
                    </a>
                    <div class="media-body align-self-center">
                      <a class="business-link">{{business.company_name}}</a>
                      <p class="business-address">{{business.address}}</p>
                    </div>
                  </div>

                  <div class="col-xs-4">
                    <div class="deals-button">
                      <div *ngIf="business.is_favorite; then Favorite  else  notFavorite"></div>
                      <ng-template #notFavorite>
                        <div class="claim-btn-holder">
                          <a class="btn btn-claim" [attr.id]="'addToFavorite'+business.u_id" id="addToFavorite" tappable (click)="addToFavorites(business)">Add to Favorites <i class="fa fa-chevron-right"></i></a>
                          <a class="btn btn-claimed" id="addedToFavorite" tappable (click)="goToFavorites()">Added to Favorites</a>
                        </div>
                      </ng-template>
                      <ng-template #Favorite><a class="btn btn-claim disabled" id="addToFavorite" tappable (click)="goToFavorites()">Added to Favorites</a></ng-template>
                      <a class="btn btn-more" tappable (click)="getBusiness(business)" >More Details <i class="fa fa-chevron-right"></i></a>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <div class="row" *ngIf="showPagination">
    <nav class="col-12 holder-pagination">
      <ul class="pagination list-unstyled" *ngIf="pager.pages && pager.pages.length">
        <li class="page-item prev-page">
          <button class="page-link prev-page" [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPagination(pager.currentPage - 1)" ion-button small><i class="fa fa-angle-left"></i>&nbsp;<span class="prev">Prev</span></button>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages">
          <button class="page-link" [ngClass]="{active:pager.currentPage === page}" (click)="setPagination(page)" ion-button small>
            {{page}}
          </button>
        </li>
        <li class="page-item">
          <button class="page-link next-page" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPagination(pager.currentPage + 1)" ion-button small><span class="next">Next</span>&nbsp;<i class="fa fa-angle-right"></i></button>
        </li>
      </ul>
    </nav>
  </div> -->

</ion-content>
